// Fonts
$font-family-sans-serif: 'Nunito Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-size-base: .875rem !default;
$font-size-lg: 1rem !default;
$font-size-sm: .75rem !default;
$headings-font-weight: 400 !default;

// Spacer
$spacer: 1rem !default;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 4.5),
  7: ($spacer * 6)
) !default;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
) !default;

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px
) !default;

// Transitions
$transition-base: all .4s ease-in-out !default;

// Theme colors
$blue:    #5b7dff !default;
$red:     #f44455 !default;
$yellow:  #fcc100 !default;
$green:   #5fc27e !default;
$cyan:    #47BAC1 !default;
$pink:    #a180da !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary:          $cyan !default;
$secondary:        $pink !default;
$tertiary:         $green !default;
$success:          $green !default;
$info:             $blue !default;
$warning:          $yellow !default;
$danger:           $red !default;
$light:            $gray-100 !default;
$dark:             #354052 !default;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"tertiary": $tertiary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"light": $light,
	"dark": $dark
) !default;

// Social colors
$social-colors: (
	"facebook": #3b5998,
	"twitter": #1da1f2,
	"google": #dc4e41,
	"youtube": #f00,
	"vimeo": #1ab7ea,
	"dribbble": #ea4c89,
	"github": #181717,
	"instagram": #e4405f,
	"pinterest": #bd081c,
	"flickr": #0063dc,
	"bitbucket": #0052cc
) !default;

// Body
$body-bg: #F5F9FC !default;
$body-color: $gray-700 !default;

// Common
$border-width: 1px !default;

// Fonts
$line-height-base: 1.5 !default;
$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;

// Headings
$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.75 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.25 !default;
$h5-font-size: $font-size-base !default;
$h6-font-size: $font-size-base !default;
$headings-color: $black !default;

// Progress
$progress-height: 1rem !default;
$progress-height-sm: .5rem !default;
$progress-height-lg: 1.5rem !default;

// Shadows
$box-shadow-sm:    0 0.05rem 0.2rem rgba(0, 0, 0, .05) !default;
$box-shadow:       0 0.1rem 0.2rem rgba(0, 0, 0, .05) !default;
$box-shadow-lg:    0 0.2rem 0.2rem rgba(0, 0, 0, .05) !default;

// Border radius
$border-radius-sm: .1rem !default;
$border-radius:    .2rem !default;
$border-radius-lg: .3rem !default;

// Navbar
$navbar-padding-y: $spacer*0.875 !default;
$navbar-padding-x: $spacer*1.25 !default;
$navbar-nav-link-padding-x: .5rem !default;
$navbar-brand-font-weight: $font-weight-bold !default;
$navbar-brand-font-size: 1.1rem !default;
$navbar-border-bottom: 1px solid #E5E9F2 !default;

// Alerts
$alert-padding-y: .95rem !default;
$alert-padding-x: .95rem !default;
$alert-border-width: 0 !default;
$alert-bg-level: 0 !default;

// Forms
$input-bg: $white !default;
$input-disabled-bg: $gray-200 !default;
$input-color: $gray-700 !default;
$input-btn-border-width: $border-width !default;
$input-btn-line-height: $line-height-base !default;
$input-btn-line-height-sm:    $line-height-sm !default;
$input-btn-line-height-lg: $line-height-lg !default;
$input-btn-focus-width: .2rem !default;
$input-btn-padding-y: .25rem !default;
$input-btn-padding-y-sm: .15rem !default;
$input-btn-padding-y-lg: .35rem !default;
$input-btn-padding-x: .7rem !default;
$input-border-width: $input-btn-border-width !default;
$input-height-border: $input-border-width * 2 !default;
$input-height-inner: ($font-size-base * $input-btn-line-height) + ($input-btn-padding-y * 2) !default;
$input-height: calc(#{$input-height-inner} + #{$input-height-border}) !default;
$input-height-inner-sm: ($font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2) !default;
$input-height-sm: calc(#{$input-height-inner-sm} + #{$input-height-border}) !default;
$input-height-inner-lg: ($font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2) !default;
$input-height-lg: calc(#{$input-height-inner-lg} + #{$input-height-border}) !default;

// Custom controls
$custom-control-indicator-bg: $gray-300 !default;
$custom-control-indicator-disabled-bg: $gray-200 !default;

// Dropdowns
$dropdown-link-color: $gray-700 !default;
$dropdown-link-hover-bg: $gray-100 !default;
$dropdown-item-padding-y: .35rem !default;
$dropdown-item-padding-x: 1.5rem !default;

// Cards
$card-border-width: 1px !default;
$card-border-color: #E5E9F2 !default;
$card-cap-bg: $white !default;
$card-shadow: none !default;
$card-title-font-weight: $font-weight-normal !default;

// Tables
$table-accent-bg: $gray-100 !default;

// Sidebar general
$sidebar-width: 250px !default;
$sidebar-transition: margin-left .4s ease-in-out, left .4s ease-in-out !default;
$sidebar-bg: $dark !default;
$sidebar-border: 0 !default;

// Sidebar brand
$sidebar-brand-padding-y: 1.15rem !default;
$sidebar-brand-padding-x: 1.5rem !default;
$sidebar-brand-color: $gray-100 !default;
$sidebar-brand-font-weight: $font-weight-normal !default;
$sidebar-brand-font-size: 1.15rem !default;
$sidebar-brand-icon-color: $primary !default;

// Sidebar header
$sidebar-header-padding: 0.375rem 1.5rem !default;
$sidebar-header-color: $gray-500 !default;
$sidebar-header-text-transform: none !default;
$sidebar-header-font-size: $font-size-sm !default;

// Sidebar link
$sidebar-link-padding: .75rem 1.5rem !default;
$sidebar-link-font-weight: 400 !default;
$sidebar-link-color: $gray-400 !default;
$sidebar-link-bg: $sidebar-bg !default;
$sidebar-link-hover-color: $sidebar-link-color !default;
$sidebar-link-hover-bg: darken($sidebar-bg, 4) !default;
$sidebar-link-hover-font-weight: $font-weight-normal !default;
$sidebar-link-active-color: $sidebar-link-color !default;
$sidebar-link-active-bg: darken($sidebar-bg, 4) !default;
$sidebar-link-active-font-weight: $font-weight-normal !default;

// Sidebar child link
$sidebar-link-child-padding: .625rem 1.5rem .625rem 2.75rem !default;
$sidebar-link-child-font-weight: 400 !default;
$sidebar-link-child-color: $gray-500 !default;
$sidebar-link-child-bg: darken($sidebar-bg, 2) !default;
$sidebar-link-child-hover-color: $gray-200 !default;
$sidebar-link-child-hover-bg: darken($sidebar-bg, 4) !default;
$sidebar-link-child-active-color: $sidebar-link-child-hover-color !default;
$sidebar-link-child-active-bg: darken($sidebar-bg, 4) !default;

// Sidebar link icon
$sidebar-link-icon-color: $white !default;
$sidebar-link-icon-hover-color: $white !default;
$sidebar-link-icon-active-color: $white !default;

// Sidebar bottom
$sidebar-bottom-color: $gray-200 !default;
$sidebar-bottom-bg: darken($sidebar-bg, 2) !default;

// Transitions
$transition-appearance: background .4s ease-in-out, color .4s ease-in-out !default;
$transition-appearance-slow: background .6s ease-in-out, color .6s ease-in-out !default;
$transition-appearance-fast: background .1s ease-in-out, color .1s ease-in-out !default;

// Modals
$modal-content-border-width: 0 !default;
$modal-header-border-width: 1px !default;
$modal-footer-border-width: 1px !default;
$modal-xl: 1140px !default;
$modal-lg: 900px !default;
$modal-md: 600px !default;
$modal-sm: 400px !default;
$modal-transition: transform .25s ease-out !default;

// Tabs
$tab-content-padding: $spacer * 1.25 !default;
$tab-content-box-shadow: 0 0.2rem 0.1rem -0.1rem rgba(0,0,0,0.15) !default;
$tab-content-border-radius: 0 0 $border-radius $border-radius !default;
$tab-link-color: $gray-800 !default;
$tab-link-padding: ($spacer * 0.75) $spacer !default;
$tab-link-bg: transparent !default;
$tab-link-active-color: $gray-800 !default;
$tab-link-active-bg: $white !default;

// Badges
$badge-font-size: 80% !default;
$badge-padding-y: .3em !default;
$badge-padding-x: .45em !default;
$badge-pill-padding-x: .65em !default;

// Breadcrumbs
$breadcrumb-bg: $gray-200 !default;

// Pagination
$pagination-padding-y: .3rem !default;
$pagination-padding-x: .75rem !default;
$pagination-padding-y-sm: .15rem !default;
$pagination-padding-x-sm: .5rem !default;
$pagination-padding-y-lg: .35rem !default;
$pagination-padding-x-lg: 1rem !default;
$pagination-color: $gray-600 !default;
$pagination-hover-color: $gray-800 !default;

// Content
$content-padding: 2.5rem !default;

// Datetimepicker
$bs-datetimepicker-active-bg: $primary !default;

// Simplebar
$simplebar-scrollbar-bg: $white !default;

// Hamburger
$hamburger-width-top: 18px !default;
$hamburger-width-middle: 24px !default;
$hamburger-width-bottom: 14px !default;
