@import "bootstrap/scss/bootstrap";

.person-summary-page {
  .person-summary-card {
    .card-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .rating-program {
      border: 1px solid #e5e9f2;
      margin: 1rem 0;
      padding: 1rem;
    }

    .rating-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 0.5rem;
      background: var(--light);
      padding: 0.5rem;
      border-radius: 10px;
    }

    .rating-item {
      display: flex;
      padding: 0.5rem;
      margin: 0.125rem 0.25rem;
      border-radius: 50px;
      background-color: white;
      min-width: calc(33% - 0.5rem);
      cursor: default;
      font-weight: bold;
      margin-right: auto;
      max-width: 100%;
      flex: 1 1 0;
      justify-content: center;

      &.rating-granted {
        background-color: var(--success);
        color: var(--light);
      }

      .rating-item-inner {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .col-fixed-500,
  .col.col-fixed-500 {
    flex: 1 0 auto;
    max-width: 100%;
  }

  .emergency-contact {
    table {
      tr:first-child {
        th,
        td {
          padding-top: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
  }

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
  }

  @include media-breakpoint-up(xl) {
    .col-fixed-500,
    .col.col-fixed-500 {
      flex: 1 0 auto;
      max-width: 600px;
    }
  }

  @include media-breakpoint-up(xxl) {
  }
}
