.selectInput{
    position: relative;
    p{
        margin-bottom: 0;
    }
}
.input-area{
    *{
        //line-height: 0px;
        vertical-align: bottom;
    }
    .input{
        display: inline-block;
        border: none;
        height: 25px;
        line-height: 25px;
        padding: 0px;
        //line-height: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 10px;
    }
    label{
        font-size: 25px;
        line-height: 25px;
    }
}
button{
    cursor: grab;
}
.gobutton{
    font-size: 0px;
    border: none;
    padding: 0;
    margin-left: 5px;
    border-radius: 10px;
}