.popover .right{
    //margin-left: auto;
    //margin-right: 0;
    right: 0;
}
.popover .left{
    left: 0;
}
.popover .top{
    top: 0;
}
.popover .bottom{
    bottom: 0;
}
.popover{
    //margin-left: auto
    padding-right: 5px;
    position: absolute;
    overflow: hidden;
    background: white;
    z-index: 12;
}
.popover-spacing-helper{
    height: 100%;
    width: 0%;
}
.popover-wrapper{
    position: sticky;
    display: block;
}
.transition-opacity{
    transition-property: opacity;
}
.duration-750{
    transition-duration: 7500;
}
.opacity-0{
    opacity: 0;
}
.opacity-100{
    opacity: 100%;
}