@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url(//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900);

@import '../../node_modules/react-redux-toastr/lib/css/react-redux-toastr.min.css';
@import 'react-big-calendar/lib/css/react-big-calendar.css';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles.css';

.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}
.hidden-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.hidden-x-scrollbar::-webkit-scrollbar {
  height: 0px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #00000000;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #88888888;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555555AA;
}