@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900);
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}
.hidden-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}